<html lang="en">
<head>
    <title>Iris class Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body background="/static/images/background1.jpg">
<!-- Input Form -->
<div  class="input form">
  <form action="/prediction" method="post" id="input head">
    <h1 id="heading">Iris flower Prediction</h1>
    <h3 id="input">Enter sepal length</h3>
    <input type="text" name="sepal length" placeholder="sepal length">
    <h3 id="input">Enter sepal width</h3>
    <input type="text" name="sepal width" placeholder="sepal width">
    <h3 id="input">Enter petal length</h3>
    <input type="text" name="petal length" placeholder="petal length">
    <h3 id="input">Enter petal width</h3>
    <input type="text" name="petal width" placeholder="petal width">
    
    <br>
    <br>
    <button id="submit" type="submit">Submit</button>
  </form>
 
</div>
   
</body>
</html>

</html>
